<%= render "shared/header_logged_in" %>
<div class='main'>

  <%# 画面上部の「計算結果」帯部分 %>
  <div class='result-title-contents'>
    <h2 class='shoesize-result-title'>
      計算結果
    </h2>
  </div>
  <%# //画面上部の「計算結果」帯部分  %>

  <%# 計算結果の表部分 %>
  <%#= form_tag 計算結果保存先のpath, method: :post,local: true, data: { turbo: false } do %>
    <div class='shoesize-result-contents'>
      <h2 class='explain-shoesize-result-title'>
        以下の表に足計測の数値を記入してください。
      </h2>
      <ul class='shoesize-result'>
        <table>
          <tr>
            <th></th>
            <th colspan="2">右</th>
            <th colspan="2">左</th>
          </tr>
          <tr>
            <th>足長[mm]</th>
            <td colspan="2"><%= session[:input_values][:foot_length_right] %></td>
            <td colspan="2"><%= session[:input_values][:foot_length_left] %></td>
          </tr>
          <tr>
            <th>足幅（荷重位）[mm]</th>
            <td><%= session[:input_values][:foot_width_load_right] %></td>
            <td class="calculated-width-right" style="width: 100px;"><%= session[:calculated_values][:calculated_width_load_right] %></td>
            <td><%= session[:input_values][:foot_width_load_left] %></td>
            <td class="calculated-width-left" style="width: 100px;"><%= session[:calculated_values][:calculated_width_load_left] %></td>
          </tr>
          <tr>
            <th>足囲（荷重位）[mm]</th>
            <td><%= session[:input_values][:foot_girth_load_right] %></td>
            <td class="calculated-girth-right" style="width: 100px;"><%= session[:calculated_values][:calculated_girth_load_right] %></td>
            <td><%= session[:input_values][:foot_girth_load_left] %></td>
            <td class="calculated-girth-left" style="width: 100px;"><%= session[:calculated_values][:calculated_girth_load_left] %></td>
          </tr>
          <tr>
            <th>足幅（非荷重位）[mm]</th>
            <td><%= session[:input_values][:foot_width_nonload_right] %></td>
            <td class="calculated-width-right" style="width: 100px;"><%= session[:calculated_values][:calculated_width_nonload_right] %></td>
            <td><%= session[:input_values][:foot_width_nonload_left] %></td>
            <td class="calculated-width-left" style="width: 100px;"><%= session[:calculated_values][:calculated_width_nonload_left] %></td>
          </tr>
          <tr>
            <th>足囲（非荷重位）[mm]</th>
            <td><%= session[:input_values][:foot_girth_nonload_right] %></td>
            <td class="calculated-girth-right" style="width: 100px;"><%= session[:calculated_values][:calculated_girth_nonload_right] %></td>
            <td><%= session[:input_values][:foot_girth_nonload_left] %></td>
            <td class="calculated-girth-left" style="width: 100px;"><%= session[:calculated_values][:calculated_girth_nonload_right] %></td>
          </tr>
          <tr>
            <th>爪先形状</th>
            <td colspan="2">
              <label>
                <input type="checkbox" name="toe_shape" value="オーバル" <%= @input_values[:toe_shape] == "オーバル" ? "checked" : "" %>>オーバル
              </label>
              <label>
                <input type="checkbox" name="toe_shape" value="ラウンド" <%= @input_values[:toe_shape] == "ラウンド" ? "checked" : "" %>>ラウンド
              </label>
              <label>
                <input type="checkbox" name="toe_shape" value="スクエア" <%= @input_values[:toe_shape] == "スクエア" ? "checked" : "" %>>スクエア
              </label>
            </td>
            <td colspan="2">
              <label>
                <input type="checkbox" name="toe_shape" value="オーバル" <%= @input_values[:toe_shape] == "オーバル" ? "checked" : "" %>>オーバル
              </label>
              <label>
                <input type="checkbox" name="toe_shape" value="ラウンド" <%= @input_values[:toe_shape] == "ラウンド" ? "checked" : "" %>>ラウンド
              </label>
              <label>
                <input type="checkbox" name="toe_shape" value="スクエア" <%= @input_values[:toe_shape] == "スクエア" ? "checked" : "" %>>スクエア
              </label>
            </td>
          </tr>
          <tr>
            <th>性別</th>
            <td colspan="4">
              <label>
                <input type="radio" name="gender" value="female" <%= @input_values[:gender] == "female" ? "checked" : "" %>>女性
              </label>
              <label>
                <input type="radio" name="gender" value="male" <%= @input_values[:gender] == "male" ? "checked" : "" %>>男性
              </label>
              <label>
                <input type="radio" name="gender" value="children" <%= @input_values[:gender] == "children" ? "checked" : "" %>>子供（12歳以下）
              </label>
            </td>
          </tr>
        </table>
      </ul>
      <!-- 目安の靴サイズを表示する領域 -->
      <h1>計算結果</h1>
      <p>理想的な足長は <%= @calculated_length %> です。</p>
      <%#<div class='save-shoesize-btn'>
        <%= submit_tag "保存する", class: "save-shoesize-red-btn" %>
      <%#</div>
    </div>
  <%# end %>
  <%# //計算結果の表部分 %>

<%= render "shared/footer" %>